:root {
	/* ------------------ color primitives ------------------ */
	/* Sky */
	--color-sky-50: #f0f9ff;
	--color-sky-100: #dff2fe;
	--color-sky-200: #b8e6fe;
	--color-sky-300: #74d4ff;
	--color-sky-400: #08beff;
	--color-sky-500: #00a6f4;
	--color-sky-600: #0084d1;
	--color-sky-700: #0069a8;
	--color-sky-800: #00598a;
	--color-sky-900: #024a70;
	--color-sky-950: #052f4a;

	/* Slate */
	--color-slate-50: #f8fafc;
	--color-slate-100: #f1f5f9;
	--color-slate-200: #e2e8f0;
	--color-slate-300: #cad5e2;
	--color-slate-400: #90a1b9;
	--color-slate-500: #62748e;
	--color-slate-600: #45556c;
	--color-slate-700: #314158;
	--color-slate-800: #1d293d;
	--color-slate-900: #0f172b;
	--color-slate-950: #020618;

	/* Pure */
	--color-white: #ffffff;
	--color-black: #000000;
	--color-error: #ff3c00;

	/* Red */
	--color-red-600: #e7000b;
	--color-red-700: #c10007;

	/* Neutral */
	--color-neutral-50: #fafafa;
	--color-neutral-100: #f5f5f5;
	--color-neutral-200: #e5e5e5;
	--color-neutral-300: #d4d4d4;
	--color-neutral-400: #a3a3a3;
	--color-neutral-500: #737373;
	--color-neutral-600: #525252;
	--color-neutral-700: #404040;
	--color-neutral-800: #262626;
	--color-neutral-900: #171717;
	--color-neutral-950: #0a0a0a;

	/* ------------------------------------------------------ */
	/*                       Color Roles                      */
	/* ------------------------------------------------------ */
	/* ---------------- Dashboard Color Roles --------------- */

	/* General */
	--color-bg: var(--color-sky-50);
	--color-surface-primary: var(--color-slate-300);

	/* Text */
	--color-text-primary: var(--color-slate-800);
	--color-text-secondary: var(--color-slate-700);
	--color-text-value: var(--color-white);
	--color-text-active: var(--color-neutral-950);
	--color-text-placeholder: var(--color-neutral-500);
	--color-text-error: var(--color-red-700);

	/* Spending components */
	--color-spending-direct-subsidies: #006ea9;
	--color-spending-other-tax-incentives: #86cdfb;
	--color-spending-rd-tax-incentives: #e4a839;
	--color-spending-rd-support: #ba4896;
	--color-spending-below-market-credit: #246c54;
	--color-spending-state-investment-funds: #e98ca0;
	--color-spending-gov-procurement: #58c2a2;
	--color-spending-soe-net-payables: #d25342;
	--color-spending-land: #7f7575;
	--color-spending-debt-equity-swaps: #a69644;

	/* Data visualization */
	--color-data-viz-primary: #fffead;
	--color-data-viz-secondary: #5f92ff;

	/* Dropdown */
	--color-dropdown-enabled: var(--color-white);
	--color-dropdown-enabled-border: var(--color-slate-200);
	--color-dropdown-hover: var(--color-slate-50);
	--color-dropdown-focus-border: var(--color-slate-400);
	--color-dropdown-pressed: var(--color-slate-100);
	--color-dropdown-pressed-border: var(--color-slate-400);
	--color-dropdown-error-border: var(--color-error);
	--color-dropdown-icon: var(--color-neutral-500);

	/* Menu */
	--color-menu-enabled: var(--color-slate-100);
	--color-menu-hover: var(--color-slate-200);
	--color-menu-focus-border: var(--color-slate-300);
	--color-menu-pressed: var(--color-slate-100);
	--color-menu-pressed-border: var(--color-slate-300);
	--color-menu-icon: var(--color-neutral-500);
	--color-menu-divider: var(--color-slate-300);

	/* Borders */
	--color-border-light: var(--color-sky-400);
	--color-border-dark: var(--color-sky-600);

	/* CTA button */
	--color-cta-text-primary: var(--color-white);
	--color-cta-text-secondary: var(--color-slate-50);
	--color-cta-enabled: var(--color-slate-800);
	--color-cta-hover: var(--color-slate-700);
	--color-cta-focus-border: var(--color-white);
	--color-cta-pressed: var(--color-slate-600);

	/* Radio card button */
	--color-radio-card-text-primary: var(--color-slate-800);
	--color-radio-card-text-secondary: var(--color-slate-600);
	--color-radio-card-enabled: var(--color-sky-50);
	--color-radio-card-enabled-border: var(--color-slate-600);
	--color-radio-card-hover: var(--color-sky-100);
	--color-radio-card-hover-border: var(--color-sky-500);
	--color-radio-card-focus-border: var(--color-sky-400);
	--color-radio-card-pressed: var(--color-sky-50);
	--color-radio-card-pressed-border: var(--color-sky-600);
	--color-radio-card-error: var(--color-sky-50);
	--color-radio-card-error-border: var(--color-red-600);

	/* Disabled */
	--color-disabled: var(--color-slate-200);
	--color-disabled-text: var(--color-slate-400);
}
