:root {
	/* ------------------ color primitives ------------------ */
	/* Sky */
	--color-sky-50: #f0f9ff;
	--color-sky-100: #dff2fe;
	--color-sky-200: #b8e6fe;
	--color-sky-300: #74d4ff;
	--color-sky-400: #08beff;
	--color-sky-500: #00a6f4;
	--color-sky-600: #0084d1;
	--color-sky-700: #0069a8;
	--color-sky-800: #00598a;
	--color-sky-900: #024a70;
	--color-sky-950: #052f4a;

	/* Slate */
  --color-slate-25: #fbfcfd;
	--color-slate-50: #f8fafc;
	--color-slate-100: #f1f5f9;
	--color-slate-200: #e2e8f0;
	--color-slate-300: #cad5e2;
	--color-slate-400: #90a1b9;
	--color-slate-500: #62748e;
	--color-slate-600: #45556c;
	--color-slate-700: #314158;
	--color-slate-800: #1d293d;
	--color-slate-900: #0f172b;
	--color-slate-950: #020618;

	/* Pure */
	--color-white: #ffffff;
	--color-black: #000000;

	/* Red */
	--color-red-600: #e7000b;
	--color-red-700: #c10007;

	/* Neutral */
	--color-neutral-50: #fafafa;
	--color-neutral-100: #f5f5f5;
	--color-neutral-200: #e5e5e5;
	--color-neutral-300: #d4d4d4;
	--color-neutral-400: #a3a3a3;
	--color-neutral-500: #737373;
	--color-neutral-600: #525252;
	--color-neutral-700: #404040;
	--color-neutral-800: #262626;
	--color-neutral-900: #171717;
	--color-neutral-950: #0a0a0a;

  /* Misc */
  --color-jade-900: #113639;
  --color-blue-975: #0c173d;

	/* ------------------------------------------------------ */
	/*                       Color Roles                      */
	/* ------------------------------------------------------ */

	/* bg */
	--color-page: var(--color-sky-50);
	--color-surface-primary: var(--color-white);
  --color-surface-secondary: var(--color-slate-300);
  --color-author-block: var(--color-sky-100);
  --color-footer: var(--color-slate-600);
  
  /* navbar */
  --color-navbar-bg: var(--color-sky-50);
  --color-navbar-text: var(--color-slate-800);

  /* border */
  --color-border-subtle: var(--color-slate-400);
  --color-border-strong: var(--color-slate-500);
  --color-border-gridline: var(--color-slate-300);

	/* Text */
  --color-text-page-title: var(--color-blue-975);
  --color-text-page-subtitle: var(--color-sky-500);
	--color-text-primary: var(--color-slate-950);
	--color-text-secondary: var(--color-slate-800);
  --color-text-helper: var(--color-slate-500);
  --color-text-error: var(--color-red-700);

  /* link */
  --color-link-text: var(--color-slate-500);
  --color-link-hover: var(--color-slate-800);

  /* table */
  --color-table-row: var(--color-slate-200);
  --color-table-row-hover: var(--color-slate-300);
  --color-table-card: var(--color-slate-100);

	/* Spending components */
	--color-spending-direct-subsidies: #005051;
	--color-spending-other-tax-incentives: #aea21e;
	--color-spending-rd-tax-incentives: #99e3c4;
	--color-spending-rd-support: #e84409;
	--color-spending-below-market-credit: #0080a4;
	--color-spending-state-investment-funds: #ffbf00;
	--color-spending-gov-procurement: #cb89bf;
	--color-spending-soe-net-payables: #7a274d;
	--color-spending-land: #f7bfac;
	--color-spending-debt-equity-swaps: #5da9e7;

	/* Dropdown */
  --color-dropdown-icon: var(--color-slate-400);
	--color-dropdown-enabled: var(--color-white);
	--color-dropdown-enabled-border: var(--color-slate-400);
	--color-dropdown-hover: var(--color-slate-50);
	--color-dropdown-focus-border: var(--color-sky-500);
	--color-dropdown-pressed: var(--color-slate-100);
	--color-dropdown-pressed-border: var(--color-sky-500);
	--color-dropdown-error-border: var(--color-red-700);

	/* Menu */
	--color-menu-enabled: var(--color-slate-100);
	--color-menu-hover: var(--color-slate-200);
	--color-menu-focus-border: var(--color-slate-300);
	--color-menu-pressed: var(--color-slate-100);
	--color-menu-pressed-border: var(--color-slate-300);
	--color-menu-divider: var(--color-slate-300);

	/* CTA button */
	--color-cta-text-primary: var(--color-white);
	--color-cta-text-secondary: var(--color-slate-50);
	--color-cta-enabled: var(--color-slate-800);
	--color-cta-hover: var(--color-slate-700);
	--color-cta-focus-border: var(--color-white);
	--color-cta-pressed: var(--color-slate-600);

	/* card button */
	--color-card-button-text-primary: var(--color-slate-800);
	--color-card-button-text-secondary: var(--color-slate-600);
	--color-card-button-enabled: var(--color-sky-50);
	--color-card-button-enabled-border: var(--color-slate-600);
	--color-card-button-hover: var(--color-sky-100);
	--color-card-button-hover-border: var(--color-sky-500);
	--color-card-button-focus-border: var(--color-sky-400);
	--color-card-button-pressed: var(--color-sky-50);
	--color-card-button-pressed-border: var(--color-sky-600);
	--color-card-button-error: var(--color-sky-50);
	--color-card-button-error-border: var(--color-red-600);

  /* ghost button */
  --color-ghost-button-text: var(--color-slate-800);
  --color-ghost-button-enabled: var(--color-sky-50);
  --color-ghost-button-enabled-border: var(--color-slate-600);
  --color-ghost-button-hover: var(--color-slate-25);
  --color-ghost-button-hover-border: var(--color-slate-600);
  --color-ghost-button-focus-border: var(--color-sky-400);
  --color-ghost-button-pressed: var(--color-sky-100);
  --color-ghost-button-pressed-border: var(--color-slate-600);

	/* Disabled */
	--color-disabled: var(--color-slate-200);
	--color-disabled-text: var(--color-slate-400);

  /* scrollbar */
  --color-scrollbar-thumb: var(--color-slate-400);
  --color-scrollbar-track: var(--color-slate-300);

  /* checkbox */
  --color-checkbox-enabled-border: var(--color-slate-400);
  --color-checkbox-fill: var(--color-slate-950);
}
